@model Medical_Corporation_Hospital.ViewModels.HospitalDetailsViewModel
@{
    ViewBag.Title = "Wards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wards</h2>
<table class="table">
    <thead>
    <tr>
        <th >Id</th>
        <th >Ward Name</th>
        <th >no Of Beds</th>
        <th >Hospital Name</th>
       
    </tr>
    </thead>
    <tbody>
    @foreach (var ward in Model.ward)
    {
    
        <tr>
            <td>@ward.WardId</td>     
            <td>@ward.WardName</td>
            <td>@ward.NoOfBeds</td>
            <td>@ward.HospitalName</td>

        </tr>

    }
    </tbody>
</table>

